@font-face {
    font-family: 'MyFont';
    src: url('../resources//This\ Night.ttf') format('.ttf');
    font-weight: 600;
    font-style: normal;
  }

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('../resources/icon01.png');
  }